# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  registry: "gcr.io"
  repository: "minikube-385711"
  tag: "v1.0.6-c807ea2"
  os: linux
  arch: arm64
secret:
  name: "kbot"
  env: "TELE_TOKEN"
  key: "your_token"
securityContext:
  privileged: true
