name: KBOT-CICD

on:
  push:
    branches: [ main, develop ]
  # pull_request:
  #   branches: [ main, develop ]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run tests
        run: make test
      # Login and push to ghcr.io
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      ## START Google Cloud Container Registry
      # - id: 'auth'
      #   uses: 'google-github-actions/auth@v1'
      #   with:
      #     credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      # - name: Set up Cloud SDK
      #   uses: 'google-github-actions/setup-gcloud@v1'
 
      # - name: Configure Docker Client
      #   run: |-
      #     gcloud auth configure-docker --quiet
      #     gcloud auth configure-docker us-docker.pkg.dev --quiet
      ## END Google Cloud Container Registry

      - name: Build&Push
        env:
          APP: "kbot"
          REGISTRY: ${{ vars.REGISTRY }}
          TARGETOS: ${{ vars.TARGETOS }}
          TARGETOSARCH: ${{ vars.TARGETOSARCH }}
          REPOSITORY: ${{ vars.REPOSITORY }}
        run: make image push
  cd:
    name: CD
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |-
          echo "VERSION=$(git describe --tags --abbrev=0)-$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "REGISTRY=${{ vars.REGISTRY }}" >> $GITHUB_ENV
          echo "REPOSITORY=${{ vars.REPOSITORY }}" >> $GITHUB_ENV

      - uses: mikefarah/yq@master
        with:
          cmd: |-
            yq -i '.image.tag=strenv(VERSION)' helm/values.yaml
            yq -i '.image.registry=strenv(REGISTRY)' helm/values.yaml
            yq -i '.image.registry=strenv(REPOSITORY)' helm/values.yaml
      - run: |-
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "Update version to $VERSION"
          git push
