name: KBOT-CICD

on:
  push:
    branches: [ develop ]
  # pull_request:
  #   branches: [ develop ]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run tests
        run: make test
      # Login to Google Cloud Container Registry
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v1'
 
      - name: Configure Docker Client
        run: |-
          gcloud auth configure-docker --quiet
          gcloud auth configure-docker us-docker.pkg.dev --quiet

      - name: Build&Push
        env:
          APP: "kbot"
          REGESTRY: gcr.io/${{ env.GCP_PROJECT }}
        run: |-
          echo "Project ID: ${{ env.GCP_PROJECT }}"
          make image push

